
/* Hierarchical List Styles */
.sublist {
  margin-left: 20px;
}
.indent-1 {
  margin-left: 20px;
}
.indent-2 {
  margin-left: 40px;
}
.indent-3 {
  margin-left: 60px;
}
.indent-4 {
  margin-left: 80px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-left: 20px;
}

